body{
    margin: 0;
    font-size: 22px;
    background: linear-gradient(270deg, rgb(219, 13, 13), rgb(20, 20, 85));
}
main{
    overflow: hidden;
    margin: auto;
    width: 450px;
    height: 100vh;
    background: url(../img/road.jpg);
    border-left: 40px solid rgb(219, 13, 13);
    border-right: 40px solid rgb(29, 29, 150);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

main div{
    margin: 20px 10px;
}

.string1{
    margin-top: 20px;
    font-family: 'Alfa Slab One';
    color: rgb(218, 120, 120);
    font-size: 1.5em;
}

.string2{
    font-family: 'Carter One';
    font-size: 0.8em;
}

.string3{
    font-family: 'Cairo';
    font-size: 1.1em;
    line-height: 1.4;
}

.string4{
    font-family: 'Oswald';
    font-size: 0.65em;
}

.string5{
    font-family: 'Mali';
    color: rgb(241, 91, 91);
    font-weight: 800;
    text-shadow: 0 0 3px red;
}

.string6{
    font-family: 'Cookie';   
    font-size: 1.6em;
}

.string7{
    font-family: 'Caveat';
    background: white;
    color: black;
    border-radius: 5px;
    transform: rotate(-10deg);
    font-size: 0.85em;
    font-weight: 700;
    padding: 5px 5px;
}

.string8{
    font-family: 'DM Mono';
    text-align: right;
    font-size: 0.6em;
}

strong{
    color: red;
}